node_modules/
backend/.env/
task-system/backend/.env
Documentos/Dashboard de sistema de tareas para MG Hogar 37b698929f4980ae91e1cd8b8578bd68.md
Documentos/Skills/backend-developer.md
Documentos/Skills/caveman_skill.md
Documentos/Skills/TASTE_SKILL.md
Documentos/Skills/UI-UIX-PROMAX-SKILL.md
Documentos/SUPABASE.md
NO-TOCAR/AVATAR.md
NO-TOCAR/DESING-SYSTEM.md
NO-TOCAR/ESTRATEGIA-INSTAGRAM.md
NO-TOCAR/FORMATOS-CONTENIDO.md
NO-TOCAR/IDEA-NUCLEO.md
NO-TOCAR/INSIGTH VS VALUE.md
NO-TOCAR/MARCO-COMUNICACION.md
NO-TOCAR/MARCO-IDENTIDAD.md
NO-TOCAR/SISTEMA-ESTRATEGIA-DE-CONTENIDO-PRIMEROS6MESES.md
NO-TOCAR/ÁNGULOS-CONTENIDO.md
task-system/frontend/.env
task-system/frontend/.env
task-system/frontend/.env
task-system/frontend/.env
NO-TOCAR/SISTEMA-DE-GUIONADO.md
task-system/frontend/.env
task-system/MIGRACION-SUPABASE.sql
task-system/PASOS-FINALES-SUPABASE.md
